# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.backup
.env.production

# IDEs & Editors
.idea/
.vscode/
.zed/
.cursor/
.nova/

# PHP / Laravel
/vendor
/node_modules

.phpactor.json
.phpunit.result.cache
.phpunit.cache

/auth.json
_ide_helper.php

# Laravel Build Files
/public/build
/public/hot
/public/storage
/public/posters*
/public/fonts-manifest.dev.json

# Laravel Storage
/storage/*.key
/storage/pail

# Homestead
Homestead.json
Homestead.yaml

# Codex
/.codex

# Testing
coverage/

# Docker
docker/data/
docker/volumes/

# Elasticsearch
.elasticsearch/

# Redis
.redis/

# Temporary Files
*.tmp
*.temp

# Cache
bootstrap/cache/*.php
!bootstrap/cache/.gitignore